<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar motocicleta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilo_editarinfomoto.css">
</head>
<body>

    <!-- Contenedor principal -->
    <div class="edit-container">

        <!-- Encabezado -->
        <div class="edit-header">
            <h2>Editar datos de la motocicleta</h2>
            <img src="assets/moto.webp" alt="Motocicleta" class="edit-icon" />
        </div>

        <!-- Formulario -->
        <form class="edit-form">

            <div class="form-group row">
                <label for="marca" class="form-label">Marca</label>
                <input type="text" id="marca" class="form-control" placeholder="Yamaha">
            </div>

            <div class="form-group row">
                <label for="modelo" class="form-label">Modelo</label>
                <input type="text" id="modelo" class="form-control" placeholder="FZ16">
            </div>

            <div class="form-group row">
                <label for="cilindraje" class="form-label">Cilindraje</label>
                <input type="text" id="cilindraje" class="form-control" placeholder="150">
            </div>

            <!-- Botones -->
            <div class="buttons">
                <button type="submit" class="save-btn">Guardar cambios</button>
                <button type="button" class="delete-btn">Eliminar vehículo</button>
            </div>

        </form>

    </div>
    <div class="footer">
      <button onclick="history.back()" class="btn">Atrás</button>
    </div>
</body>
</html>
